* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}
body {
	z-index: 10;
}
a {
	text-decoration: none;
	color: black;
}
.container_page1 {
	width: 1366px;
	margin: 0 auto;
}
.header {
	height: 880px;
}
.inside_header1 {
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center
}
.title_wraper1 {
	width: 104px;
	display: flex;
	justify-content: space-around;
}
.nav1 {
	width: 422px;
	display: flex;
	justify-content: space-around;
	font-weight: 400;
	font-size: 14px;
	color: #555248;
}
.nav1 * {
	font-family: 'Roboto', sans-serif;
}
.icon_wraper1 {
	width: 100px;
	display: flex;
	justify-content: space-around;
}
.title1 {
	font-weight: 400;
	font-size: 16px;
	color: #555248;
}
.link1 {
	text-decoration: none;
	color: #555248;
}
.header_main1 {
	height: 768px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}
.ellipse2 {
	z-index: -1;
	position: absolute;
	top: 50px;
	left: 465px;
}
.section1 {
	margin-left: 130px;
}
.title2 {
	font-weight: 400;
	font-size: 45px;
	margin-bottom: 10px;
}
.subtitle1 {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 25px;
}
.text1 {
	font-weight: 300;
	font-size: 14px;
	color: #1B1A17D1;
	width: 252px;
	margin-bottom: 40px;
}
.button1 {
	width: 205px;
	height: 64px;
	background: #1B1A17D1;
	border: 0px #1B1A17D1 solid;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 500;
	font-size: 12px;
	font-family: roboto, sans-serif;
}
.section2 {
	height: 800px;
	display: flex;
	justify-content: space-between;
}
.number1 {
	margin-top: 140px;
	font-family: none;
}
.number2 {
	align-self: flex-end;
	margin-bottom: 140px;
	font-family: none;
}
.header_title1 {
	display: flex;
	justify-content: center;
}
.header_link1 {
	display: flex;
	justify-content: flex-end;
}
.see_all1 {
	text-decoration: underline;
	color: black;
}
.title3 {
	font-weight: 400;
	font-size: 32px;
}
.section_container1 {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}
.title4 {
	margin-bottom: 10px;
}
.details1 {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
.cost1 {
	font-family: none;
}
.section3 {
	background: #FDFDFB;
	padding: 30px;
	z-index: -3
}
.circle1 {
	width: 313px;
	height: 313px;
	position: absolute;
	z-index: -1;
}
.main_main2 {
	margin-top: 120px;
	z-index: -2;
	margin-bottom: 120px;
}
.section_container2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: -3;
	width: 100%;
	height: 519px;
	background: #FDFDFB;
}
.square1 {
	width: 468px;
	height: 519px;
	background: #F7F5EF;
	z-index: -1;
	position: absolute;
}
.section4 {
	margin-right: -300px;
}
.list1 {
	text-align: right;
	margin-right: 100px;
}
.title5 {
	font-size: 32px;
	color: #1B1A17;
	margin-bottom: 30px;
}
.text2 {
	width: 376px;
	font-family: roboto, sans-serif;
	font-size: 16px;
	color: #444240;
	margin-bottom: 30px;
}
.button2 {
	width: 205px;
	height: 64px;
	background: #D4B098;
	border: 0px #D4B098 solid;
	display: flex;
	font-family: roboto, sans-serif;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 500;
	font-size: 12px;
}
.ellipse5 {
	position: absolute;
	left: 1137px;
	top: 1510px;
}
.ellipse6 {
	position: absolute;
	left: 1127px;
}
.main_main3 {
	margin-bottom: 80px;
}
.section_container3 {
	display: flex;
	justify-content: space-around;
	height: 465px;
}
.title6 {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 400;
}
.text3 {
	font-size: 16px;
	margin-bottom: 180px;
	font-family: roboto, sans-serif;
	width: 376px;
}
.conquest {
	font-weight: 700;
}
.social_wraper1 {
	width: 96px;
	display: flex;
	justify-content: space-around;
}
.section7 {
	display: flex;
	flex-wrap: wrap;
	width: 633px;
}
.photo1and2 {
	width: 242px;
	margin-right: 11px;
}
.photo1 {
	margin-bottom: 5px;
}
.footer {
	width: 100%;
	height: 270px;
	background: #444240;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_container4 {
	display: flex;
	justify-content: space-around;
	width: 1000px;
}
.title8 {
	font-weight: 700;
	font-size: 14px;
	color: white;
	margin-bottom: 20px;
}
.title7 {
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	margin-bottom: 40px;
}
.text5 {
	font-size: 12px;
	font-family: roboto, sans-serif;
	color: #FFFFFFBF;
}