* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}
body {
	z-index: 10;
}
a {
	text-decoration: none;
	color: black
}
.container_page2 {
	width: 1160px;
	margin: 0 auto;
}
.header1 {
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.title_wraper1 {
	width: 104px;
	display: flex;
	justify-content: space-around;
}
.nav1 {
	width: 422px;
	display: flex;
	justify-content: space-around;
	font-weight: 400;
	font-size: 14px;
	color: #555248;
}
.nav1 * {
	font-family: 'Roboto', sans-serif;
}
.icon_wraper1 {
	width: 100px;
	display: flex;
	justify-content: space-around;
}
.title1 {
	font-weight: 400;
	font-size: 16px;
	color: #555248;
}
.link1 {
	text-decoration: none;
	color: #A69876;
}
.at {
	font-family: roboto, sans-serif;
	font-size: 14px;
	color: #B3B3B3;
	margin-bottom: 40px;
}
.at_highlight {
	font-family: roboto, sans-serif;
	font-size: 14px;
	color: #555248;
}
.title_wraper2 {
	display: flex;
	justify-content: space-between;
}
.sort1 {
	color: #BDB9B5;
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.sort_highlight {
	color: black;
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.title2 {
	font-weight: 400;
}
.section_container1 {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.section1 {
	width: 230px;
	margin-right: 120px;
}
.one {
	margin-bottom: 40px;
}
.cost1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.line {
	width: 10px;
	height: 1px;
	background: black;
}
.cost {
	font-weight: 700;
	font-family: roboto, sans-serif;
}
.line1 {
	width: 230px;
	height: 1px;
	background: #D4D4D4;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.circle1 {
	width: 10px;
	height: 10px;
	border: 1px black solid;
	border-radius: 50%;
	margin-left: 20px;
}
.line2 {
	width: 120px;
	height: 1px;
	background: black;
}
.two {
	margin-bottom: 40px;
}
.circle2 {
	width: 10px;
	height: 10px;
	border: 1px black solid;
	border-radius: 50%;
}
.numbers1 {
	display: flex;
}
.number1 {
	font-family: none;
	margin-left: 3px;
	margin-right: 80px;
}
.number2 {
	font-family: none;
}
.type1, .type2, .type3, .type4, .type5, .type6 {
	margin-right: 10px;
}
label {
	font-family: roboto, sans-serif;
}
.button1 {
	width: 230px;
	height: 60px;
	background: transparent;
	color: black;
	border: 2px #E7E0CF solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
}
.section_wraper1 {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	width: 1000px;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.title3 {
	margin-bottom: 10px;
	font-family: roboto, sans-serif;
}
.cost2 {
	font-family: none;
}
.section2 {
	background: #FDFDFB;
	padding: 30px;
	height: 330px;
	width: 252px;
}
.section3 {
	background: #D4B098;
	height: 330px;
	width: 252px;
}
.watch1 {
	margin-left: -30px;
	margin-top: -50px;
}
.section4 {
	background: #FDFDFB;
	padding: 30px;
	height: 330px;
	width: 252px;
	border: 2px black dashed;
}
.watch3 {
	position: absolute;
	top: 666px;
	left: 1113px;
}
.a1, .a3, .a4, .a5, .a6, .a7 {
	margin-bottom: 40px;
}
.title4 {
	font-weight: 700;
	font-size: 45px;
	color: white;
	margin-left: -30px;
	text-align: center;
	margin-top: 100px;
}
.cost3 {
	width: 106px;
	font-weight: 700;
	font-size: 16px;
	margin-left: 60px;
	color: white;
	text-align: center;
}
.list3 {
	text-align: right;
	font-family: roboto, sans-serif;
	font-weight: 400;
	color: #B6B6B6;
	font-size: 14px;
	margin-bottom: 100px;
}
.list3_highlight {
	color: #1B1A17;
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.see_all1 {
	text-decoration: underline;
	color: black;
	font-weight: 500;
}
.header_title1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.title5 {
	font-weight: 400;
	font-size: 32px;
}
.section5 {
	background: #FDFDFB;
	padding: 30px;
	height: 330px;
	width: 312px;
}
.title6 {
	margin-bottom: 10px;
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.cost4 {
	font-family: none;
}
.section_container2 {
	display: flex;
	justify-content: space-between;
}
.main_main2 {
	margin-bottom: 100px;
}
.footer {
	width: 100%;
	height: 270px;
	background: #444240;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_container4 {
	display: flex;
	justify-content: space-around;
	width: 1000px;
}
.title8 {
	font-weight: 700;
	font-size: 14px;
	color: white;
	margin-bottom: 20px;
}
.title7 {
	font-family: roboto, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	margin-bottom: 40px;
}
.text5 {
	font-size: 12px;
	font-family: roboto, sans-serif;
	color: #FFFFFFBF;
}